absl-py==2.5.0
certifi==2026.7.22
charset-normalizer==3.4.9
click==8.4.2
defusedxml==0.7.1
idna==3.18
immutabledict==4.3.1
iniconfig==2.3.0
joblib==1.5.3
langdetect==1.0.9
nltk==3.10.0
packaging==26.2
pluggy==1.6.0
pygments==2.20.0
pytest==9.1.1
regex==2026.7.19
requests==2.34.2
six==1.17.0
tqdm==4.69.0
urllib3==2.7.0
